<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/assets/css/style.css" rel="stylesheet"/>
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <form action="/shortenUrl" method="POST">
        <label for="originalurl">URL</label>
        <input type="url" name="originalUrl" id="originalUrl">
        <button type="submit">Shorten</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
            </tr>
        </thead>
        <tbody>
            <% shortUrls.forEach(shortUrl => { %>
                <tr>
                    <td><a href="<%= shortUrl.originalUrl %>"><%= shortUrl.originalUrl %></a></td>
                    <td><a href="<%= shortUrl.shortUrl %>"><%= shortUrl.shortUrl %></a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>